@page "/send_email"
@using BlazorShop.Models
@using MailKit
@inject IEmailSender EmailSender
@inject ILogger<EmailSenderPage> Logger

<h3>SendEmail</h3>

<EditForm Model="@_emailModel" OnValidSubmit="OnSendMessage">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <br />
    Кому(email-адрес):
    <br />
    <InputText @bind-Value="_emailModel.letterEmailAdress" />
    <br />
    <br />
    Тема письма:
    <br />
    <InputText @bind-Value="_emailModel.letterSubject" />
    <br />
    <br />
    Содержимое письма:
    <br />
    <InputTextArea @bind-Value="_emailModel.letterBody" />
    <br />
    <br /> <input type="submit" value="Отправить">
</EditForm>
<br />
<br />
<div>@_sendResult</div>
<div>@_test</div>


@code {
    //mySendMessageObject.SaveParamsObjectToFile();
    private SendEmailDataModel _emailModel = new();
    private string _sendResult = "";
    private string _test = "";

    int _attemptToSend = 0;
    private async Task OnSendMessage()
    {

        Logger.LogInformation("Попытка отправки имейла на адрес {Email}", _emailModel.letterEmailAdress);

        while (_attemptToSend < 4)
        {
            try //Вариант 1.
            {
                await EmailSender.SendEmail(_emailModel.letterEmailAdress, _emailModel.letterSubject, _emailModel.letterBody);
                _emailModel = new();
                _sendResult = "письмо отправлено";
            }
            catch (Exception e) when (_attemptToSend <= 2
                                  && e is ServiceNotAuthenticatedException
                                        or ServiceNotConnectedException
                                        //...
                                        )
            {
                Logger.LogWarning(e, "Ошибка отправки имейла на адрес {Email}. Делаем попытку номер {attempt}", _emailModel.letterEmailAdress, (_attemptToSend + 1), e.Message);
                //Logger.LogWarning(e, "Ошибка отправки имейла на адрес {Email}. Делаем еще одну попытку", _emailModel.letterEmailAdress, e.Message);

            }
            catch (Exception e) // Если это последняя попытка, то логируем ошибку и выводим сообщение об ошибке.
            {
                _test = e.ToString();
                // Даем разработчику явно понять, что произошла ошибка, и что нужно что-то делать.
                Logger.LogError(e, "Ошибка отправки имейла на адрес {Email}. Ошибка: {Error}", _emailModel.letterEmailAdress, e.Message);
                _sendResult = "Ошибка отправки письма";
                _attemptToSend = 4;
            }
            _attemptToSend++;
        }
        
    }
}
