@page "/products"
@using BlazorShop.Models

@inject ICatalog Catalog


<h3>Список товаров</h3>

@if(_products == null)
{
	<p>Загрузка...</p>
} else if (_products.Count == 0)
{
	<p>Нет товаров</p>
} else
{
	<p>Всего товаров: @_products.Count</p>
	@foreach (var product in _products)
	{
		<p>id продукта:  @product.Id </p>
		<p>Название продукта:  @product.Name </p>
		<p>Цена продукта:  @product.Price </p>
		<br>
	}
}

@code {
  	private IReadOnlyCollection<Product>? _products;

	protected override async Task OnInitializedAsync()
	{
		_products = await Catalog.GetProducts();
	}
}
